node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
out/
.idea/
.vscode/
*.log
*.log.*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.tgz
*.tar
*.zip
*.rar
*.7z
*.gz
expo-env.d.ts
